<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="WordFunLibrary.WordList">
        <endpoint
            name="WordsService"      
            address="net.tcp://localhost:9000/WordFunLibrary/WordList"
          	binding="netTcpBinding"
            bindingConfiguration="myBindingConfig"
            contract="WordFunLibrary.IWordList" />
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="myBindingConfig">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>

    

  </system.serviceModel>

</configuration>